html {
  background-color:	#f2f2f2; 
height: 1000px;
	  
}
body {
   background: rgba(54, 25, 25, .1); 

}
.main-navbar {
	background-color:#98e6d3;
}
.navbar-brand {
	color:#73264d;
}
.jumbotron {
	height: 150px ;
    background-color:#ffd480; 
  
}


.navbar-default {
	background-color: #ffd480;
	border-radius: 1;
		
}
.navbar-default .navbar-brand {
	background-color: #00cca3;
	font-size: 20px;
	font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #00cca3;   
}

.navbar-default .navbar-nav > li > a{
	color: #fff;
	font-size: 20px;
}

.navbar-header .navbar-toggle {
	color: #00cca3;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
	background-color:black;
}


head{
    color:aqua;
}

div {
	color: #ac3973;
}
.photo img{
    height: 1800px;
}

#div-main {
	
}

#div-main p {
	color: #98e6d3;
}



.portfolio-thumbnail {
	background: #98e6d3;
	border-width: 2px;
	border-style: inherit;
	border-color: #bdccdb;
}

.portfolio-thumbnail img {
	height: 400px;
}
