html {
   background: rgb(255, 255, 255); 
}
body {
  background: rgb(255, 255, 255); 
}
.main-navbar {
	background-color:#45C5B4;
	box-shadow: 0px 0.5px 2px #888888;
}
.navbar-brand {
	color: #000000;
}
.jumbotron {
	height: 150px ;
    outline: inherit;
    color: #23527c;
    outline: 5px solid #6AABB7;
    }


.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {	 
}

.navbar-default .navbar-nav > li > a{
	color: black;
	font-size: 20px;
}

.navbar-header .navbar-toggle {
	
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
	background-color: white;
}


h3 {
	color: #23527c;
}

div {
}
.photo img{
    height: 1800px;
}

#div-main {
	
}

#div-main p {
	color: #98e6d3;

}
.centered1{
  position: fixed;
  top: 50%;
  left: 50%;

  background:  #ffd480;
	border-width: 2px;
	border-style: inherit;
	height: 293px;
}
.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  background:  #6AABB7;
	border-width: 2px;
	border-style: inherit;
	height: 293px;
}

  .bottomleft {
    position: absolute; 
    bottom: 1em;
    left: 1.5em;
    font-size: 20px;
    font-weight: bold; 
  
  }


.portfolio-thumbnail img {
	outline: 5px solid #6AABB7;
    padding-bottom: 40px;
    

}
.portfolio-thumbnail1 img {
	outline: 5px solid #888888;
    padding-bottom: 40px;
    

}


.thumbnail{
      background: rgb(255, 255, 255); 
}
